.share {
    width: 100%;
    height: 170px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.68);

    &-container {
        padding: 10px;

        .share-top {
            display: flex;
            align-items: center;
        }

        & img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 10px;
        }

        & input {
            width: 80%;
            background-color: #f1f1f1;
            border: none;
            border-radius: 50px;
            padding: 8px 10px;

            &:focus {
                outline: none;
            }
        }

        .share-hr {
            margin: 15px;
            width: 90%;
            text-align: center;
        }

        .share-bottom {
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .share-option {
                display: flex;
                margin-left: 20px;

                &-item {
                    display: flex;
                    align-items: center;
                    margin-right: 25px;
                    cursor: pointer;

                    & span {
                        margin-left: 10px;
                        font-size: 14px;
                        font-weight: 500;
                    }

                    .video-icon {
                        color: #eb4d4b;
                    }

                    .image-icon {
                        color: #3ae374;
                    }

                    .emoji-icon {
                        color: #ffd32a;
                    }
                }
            }

            & button {
                border: none;
                padding: 7px;
                border-radius: 5px;
                background-color: green;
                font-weight: 500;
                margin-right: 20px;
                cursor: pointer;
                color: white;
            }
        }
    }
}