.login-form {
    h2 {
        font-size: 32px;

    }

    .fast-field {
        margin: 10px 0;
    }

    .login-btn {
        width: 100%;
        margin: 10px 0 20px 0;
    }

    .register-btn {
        width: 200px;
        margin-left: 20px;
    }
}